.div{
    color: brown;
    text-align: center;
    position: absolute;
    height: 20px;
    width: 200px;
    border: 2px solid blue;
    background-color: bisque;
    z-index: 3;
}
.btn{
    position: relative;
    top: 100px;
    width: 55px;
    float: left;

}
.btn:hover{
    background-color: aqua;
}