 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
</head>
<body>
    <link rel="stylesheet" href="login.component.css">
    <div class="login-form-container">
        <h2>{{title()}}</h2>
        <div>
            <form>
                <label>email</label><br>
                <input type="text"><br>
                <label>password</label><br>
                <input type="text"><br><br>
                <button>submit</button><br><br>
        
            </form>
            <button (click) = "submit()">{{test}}</button>
        </div>
     </div>

    <!-- <p>{{amount}}</p>
    <h2>{{text}}</h2>
    <h1>{{myName}}</h1> -->
    <!-- one way -->
    <!-- 1.interpolation -->
    <!-- <h1>{{amount}}</h1> -->
    <!-- property bind -->
<!-- <input type="text" [value]="myName"><br><br>
 -->




<button routerLink = 'login/LoginComponent'>click</button>


    <!-- two way databind -->
     <input type="text" [(ngModel)]="myname1">
    {{myname1}}
<button routerLink = '/'>home</button>

</body>
</html>

