 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
</head>
<body>
    <link rel="stylesheet" href="login.component.css">
    <div class="login-form-container">
        <h2>{{formTitle}}</h2>
        <div>
            <form>
                <label>email</label><br>
                <input type="text"><br>
                <label>password</label><br>
                <input type="text"><br><br>
                <button>submit</button><br><br>
        
            </form>
            <button (click) = "submit()">{{test}}</button>
        </div>
     </div>

    
</body>
</html>

