<button >back</button>
<!-- 

<h2>SignupForm</h2>
<div>
    <form [formGroup] = 'SignupForm'>
        <label >name</label><br>
        <input type="text" formContolName = 'name'><br>
        <span *ngIf =  "SignupForm.get('name')?.errors?.['pattern']">
            ENTER AlFABATES ONLY
        </span>
        <label >email</label><br>
        <input type="text" formContolName = 'email'><br>
        <label  >contact</label><br>
        <input type="text" formContolName = 'contact'><br>
        <label >adress</label><br>
        <input type="text" formContolName = 'adress'><br><br>
        <button>submit</button>

    </form>
</div> -->
<p>lnding works!</p>
<!-- <button (click) = 'back()'>back</button> -->
<div> 
    <h2 class="form-heading"> Sign Up Form</h2>
    <form class="signup-form-container" [formGroup]="signUpForm">

        <label>Name</label><br>
        <input type="text" formControlName="fullName"><br>
        <span *ngIf="!signUpForm.get('fullName')?.touched 
         && !signUpForm.get('fullName')?.valid
         && !signUpForm.get('fullName')?.dirty">Hint:Enter Your Full Name here</span>
        <span class="err" *ngIf="signUpForm.get('fullName')?.errors?.['required'] 
                 && !signUpForm.get('fullName')?.valid
                 && signUpForm.get('fullName')?.touched">
            Name is required
        </span>
        <span class="err" *ngIf="signUpForm.get('fullName')?.errors?.['pattern']">
            Enter Alphabets Only
        </span>
        <span class="err" *ngIf="signUpForm.get('fullName')?.errors?.['minlength'] 
        && !signUpForm.get('fullName')?.errors?.['pattern']">
           Name must contain 10 Alphabets
        </span>
        <br><br>
        <label>MobNo</label><br>
        <input type="text" formControlName="mobNo"><br>
        <span *ngIf="!signUpForm.get('mobNo')?.touched">Hint: Enter you Mobile Number</span>
        <span *ngIf="signUpForm.get('mobNo')?.errors?.['pattern']
                && signUpForm.get('mobNo')?.touched " class="err">
            Mobile no should be in Integers</span>
        <span class="err" *ngIf="signUpForm.get('mobNo')?.errors?.['minlength']
                  && !signUpForm.get('mobNo')?.errors?.['pattern']">
            Please Enter Minimum 10 Digit Mobile Number
        </span>
        <span class="err" *ngIf="signUpForm.get('mobNo')?.errors?.['maxlength'] 
                             && !signUpForm.get('mobNo')?.errors?.['pattern']">
            Please Enter Maximum 10 Digit Mobile Number
        </span><br><br>
        <label>City</label><br>
        <input type="text" formControlName="city"><br><br>

        <label>Email Id</label><br>
        <input type="text" formControlName="email"><br>

        <label>User Name</label><br>
        <input type="text" formControlName="userName"><br>

        <label>Address</label><br>
        <input type="text" formControlName="address"><br>

        <br><br>
        <button [disabled]="!signUpForm.valid"  (click)="submit()"> Submit </button>
    </form>
</div>